html{
    background-color: #2EC4B6;
}

#logout{
    padding: 10px;
    float: left;
    display: inline-block;
    background-color: #cbf3f0;
}

.heading_div{
    margin-left: 100px;
    margin-right: 100px;
}

.char_div{
    margin-left: 350px;
    margin-right: 350px;
}

.charHeadingBorder {
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    background-color:#cbf3f0;
}

.charSelectBorder{
    background-color: #cbf3f0;
    text-align: center;
    border: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    

}

.charSelectBorderClicked{
    text-align: center;
    border: 3px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}

.createChar{
    background-color: #cbf3f0;
    text-align: center;
    border: 3px dotted black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:10px;

}



.numberCircle {
    border-radius: 100%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 6px;
    background: #cbf3f;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 14px;
}
  
.char_info{
    float: left; 
    width: 20%;
}

/*create character button*/
.createChar button {
    background-color:#26a69a;

    color:white;
    border:0px;
    min-width: 5%;

    padding-top:6px;
    padding-bottom:6px;

}

/*select char button*/
.characterSelectButton {
    float:right;
    margin-right:5px;
    line-height:18px;
    background-color:#26a69a;

    color:white;
    border:0px;
    min-width:5%;

}
