.borderSize{
    margin-left: 100px;
    margin-right: 100px;
}

.charborderSize{
    margin-left: 350px;
    margin-right: 350px;
}

.charHeadingBorder {
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
}

.charSelectBorder{
    text-align: center;
    border: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}

.charSelectBorderClicked{
    text-align: center;
    border: 3px solid blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}

.createChar{
    text-align: center;
    border: 3px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}



.numberCircle {
    border-radius: 100%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 6px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 14px;
  }
  
