html{
    background-color: #8f9491;
}

.heading_div{
    margin-left: 100px;
    margin-right: 100px;
}

.char_div{
    margin-left: 350px;
    margin-right: 350px;
}

.charHeadingBorder {
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    background-color:#2ec4b6;
}

.charSelectBorder{
    background-color: #cbf3f0;
    text-align: center;
    border: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    

}

.charSelectBorderClicked{
    text-align: center;
    border: 3px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}

.createChar{
    background-color: #cbf3f0;
    text-align: center;
    border: 3px dotted black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;

}



.numberCircle {
    border-radius: 100%;
    behavior: url(PIE.htc);
    /* remove if you don't care about IE8 */
    width: 36px;
    height: 36px;
    padding: 6px;
    background: #cbf3f;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 14px;
  }
  
  .char_info{
    float: left; 
    width: 25%;
  }
