body{
	background-color: #cbf3f0;
}

#namePlate{
	display: block;
	padding: 1%;
	margin: .5%;
	height: 5vh;
	background-color: #2ec4b6;
}

.column{
	display: block;
	height: 89vh; 
	padding: 1%;
	margin: .5%;
	float: left;
	width: 30.3333%;
	background-color: #8f9491;
}

#stats{
	background-color: #2ec4b6;
	padding: 5px;
	height: 66%;
}
