body{
	background-color: #8f9491;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#namePlate{
	display: block;
	padding: 1%;
	margin: .5%;
	height: 5vh;
	background-color: #2EC4B6;
	box-sizing: content-box;
}

#innerbox {
	background-color: #2EC4B6;
	padding: 8px;
	height: 66%;
	box-sizing: content-box;
}

#nameform {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#nameform label {
	white-space: nowrap;
	margin-right: .2%;
	margin-left: .5%;
}

#nameform input {
	padding: 2px;
}

.column{
	display: block;
	height: 89vh; 
	padding: 1%;
	margin: .5%;
	float: left;
	width: 30.3333%;
	background-color: #2EC4B6;
	box-sizing: content-box;
}

#stats{
	background-color: #2EC4B6;
	padding: 5px;
	height: 26.8%;
}

#insp-prof-background {
	background-color: #2EC4B6;
	padding: 5px;
	height: 15%;
}

#insp-prof {
	display: block;
	height: 6vh; 
	width: 96.5%;
	margin: 3px;
	background-color: #CBF3F0;
	border: 2px black solid;
}

#insp-prof input{ /* for inspiration and proficiency bonus inputs*/
	width: 40px; 
	height: 27px; 
	margin-left: 40px;
	border-color: black;
	padding: 2px;
	margin-top: 6px;
}

#statsboxLeftCol { /*stats box CSS for the left column*/
	display: block;
	height: 11vh; 
	float: left;
	width: 30.3333%;
	margin: 3px;
	background-color: #CBF3F0;
	border: 2px black solid;
}

#statsboxLeftCol h4{
	text-align: center; 
	font-size: 150%;
	margin-top: 5px; 
	margin-bottom: 5px;
	color: black;
}

#statsboxLeftCol input{ 
	display: block; 
	margin: 0 auto;
	padding: 1px;
	height: 18px;
	width: 70px; 
	text-align: center;
}

#savingThrowsBackground{
	background-color: #2EC4B6;
	padding: 5px;
	height: 23.5%;
}

#savingThrows { /*saving throws box sizing*/
	display: block;
	height: 18.4vh; 
	float: left;
	width: 30%;
	padding: 5px;
	margin: 3px;
	border: 2px black solid;
	background-color: #CBF3F0;
}

#ST-form { /*the form CSS for saving throws for styling later if needed*/
	font-size: 14px;
	color: black;
}

#ST-form input {
	padding: 2px;
}

#ST-form-checkbox {
	margin-left: 10px;
}

#ST-form-spacing {
	margin-top: 2px;
	margin-bottom: 2px;
}

#passiveWisdom{
	background-color: #8f9491;
	padding: 5px;
	height: 10%;
}

/*Middle Column CSS*/
#genericHpBox {
	display: block;
	height: 11vh; 
	float: center;
	width: 100%;
	margin: -2px;
	margin-bottom: 8px;
	background-color: white;
	border: 2px black solid;
}
.shortenAndCenter{
		width: 92.5%;
		margin-left: .5%;
		margin-right: .5%;
		text-align: center;
}
.shortenAndCenter2{
		width: 88%;
		margin-left: .5%;
		margin-right: .5%;
		text-align: center;
}

.halvesBoxes{
	display: block;
	padding: 1%;
	margin: .5%;
	float: left;
	width: 47%;
	box-sizing: content-box;
}


/*End of Middle Colum CSS*/


/* Third (Right) Column CSS Begin 
References:
Dark Green: #2EC4B6 (inner box);
Light Green: #CBF3F0; (column box);
Dark Gray: #8f9491; (Sub-box);

Structure:
Each section in a column has a wrapper, which contains N boxes;
Each of N boxes has a label and some kind of input field (textarea, input, etc)
1 Box is possible (features/traits, inventory), as is many (personality)

Flexbox Guide: https://css-tricks.com/snippets/css/a-guide-to-flexbox/;
*/

#col3 {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/*children of col3 (the wrappers)*/
#col3 > div {
	background-color: #2EC4B6;
	border:2px solid black;
	padding:2%;

	/*as a container, generic*/
	/*flex-basis needs to be done individually*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}


/*this ensures vertical stacking for both label
and text area
Meaning: Col3's child (wrapper)'s child (box)'s children
labels and text areas and tables, should all display vertical*/
#col3 > div > div > * {
	display: block;
}

/*generic text areas and labels*/
#col3 .input-field {
	box-sizing:border-box;

	margin-left:2%;
	margin-right:2%;

	width:96%;
	resize: none;
}

#col3 .input-label {
	color: black;
	font-size:14px;
	text-align:center;

	/*text-shadow:
	-1px -1px 0 white,
	-1px  1px 0 white,
	 1px -1px 0 white,
	 1px  1px 0 white;*/
}


/*Personality Elements*/

#col3 .personality-wrapper {
	/*as an item*/
	flex-basis: 30%;

}

#col3 .personality-box {
	flex-basis: 23%;
	background-color:#8F9491;
}

#col3 .personality-box .input-field {
	height:60%;
}

#col3 .personality-box .input-label {
	height:30%;
}

/*Features/Traits*/

#col3 .features-traits-wrapper {
	flex-basis: 30%;
}

#col3 .features-traits-box {
	flex-basis: 95%;
	background-color:#8F9491;
}

#col3 .features-traits-box .input-field {
	height:85%;
}

#col3 .features-traits-box .input-label {
	height:10%;
}


/*Inventory*/

#col3 .inventory-wrapper {
	flex-basis: 30%;
}

#col3 .inventory-box {
	flex-basis: 95%;
	background-color:#8F9491;
}

#col3 .inventory-box .input-label {
	height:10%;
}

/*Table styling.*/

#col3 #inventory-table-wrapper {
	height:85%;
	width:96%;
	overflow: auto;
	margin-left:2%;
	margin-right:2%;
}

#col3 #inventory-table {
	width:100%;
	display:table;
	background-color:white;
}

#col3 #inventory-table td {
	border: 1px solid black;
}

/*first row (legend)*/
#col3 #inventory-table tr:nth-child(1) {
	border-bottom:2px solid black;
}

/*first row (legend)'s first col*/
#col3 #inventory-table tr:nth-child(1) td:nth-child(1) {
	padding: 5px;
}

/*column 1*/
#col3 #inventory-table td:nth-child(1) {
	width:10%;
	padding:0;
	height:100%;
}

/*column 2*/
#col3 #inventory-table td:nth-child(2) {
	width:90%;
}

/*input stylings for input number in table*/
#col3 #inventory-table input[type=number] {
	padding:3px;
	height: 30px;
	box-sizing:border-box;
}




/* Third Column CSS End */

#stats2{
	background-color: #2EC4B6;
	padding: 5px;
}
.imgTextOverlay {
    position: relative;
    text-align: center;
}
/*Auto margins idea from https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element*/
.imgTextBot{
    position: absolute;
    top: 66%;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.imgTextBot2{
	position: absolute;
    top: 80%;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
input[type=sheildTextBox] {
    background-color: #c1b8b8;
	font-size: 25px;
	position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	left: 34px;
	right: 0;
}
input[type=speedBox] {
	font-size: 25px;
	position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	left: 34px;
	right: 0;
}
table{
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: gray;
}
/*End of Middle Colum CSS*/

/* For Other Proficiences and Languages */
#addProfLanguagesArea{
	outline: none;
    padding: 0.5em 1em;
    margin: 0.5px;
	border-bottom: 1px solid #ddd;
	width: 80%;

}

#ProfsLanguages li{
	list-style-type: disc;
	margin-left: 5%;
}
/* For Other Proficiences and Languages */