body{
	background-color: #F49349;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#namePlate{
	display: block;
	padding: 1%;
	margin: .5%;
	height: 5vh;
	background-color: #CBF3F0;
	box-sizing: content-box;
}

#innerbox {
	background-color: #2EC4B6;
	padding: 8px;
	height: 66%;
	box-sizing: content-box;
}

#nameform {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#nameform label {
	white-space: nowrap;
	margin-right: .2%;
	margin-left: .5%;
}

#nameform input {
	padding: 2px;
}

.column{
	display: block;
	height: 89vh; 
	padding: 1%;
	margin: .5%;
	float: left;
	width: 30.3333%;
	background-color: #CBF3F0;
	box-sizing: content-box;
}

#stats{
	background-color: #2EC4B6;
	padding: 5px;
	height: 26.8%;
}

#insp-prof-background {
	background-color: #2EC4B6;
	padding: 5px;
	height: 15%;
}

#insp-prof {
	display: block;
	height: 6vh; 
	width: 96.5%;
	margin: 3px;
	background-color: #8f9491;
	border: 2px black solid;
}

#insp-prof input{ /* for inspiration and proficiency bonus inputs*/
	width: 40px; 
	height: 30px; 
	margin-left: 40px;
	border-color: black;
	padding: 2px;
	margin-top: 6px;
}

#statsboxLeftCol { /*stats box CSS for the left column*/
	display: block;
	height: 11vh; 
	float: left;
	width: 30.3333%;
	margin: 3px;
	background-color: #8f9491;
	border: 2px black solid;
}

#statsboxLeftCol h4{
	text-align: center; 
	font-size: 150%;
	margin-top: 5px; 
	margin-bottom: 5px;
	color: white;
}

#statsboxLeftCol input{ 
	display: block; 
	margin: 0 auto;
	padding: 2px;
	height: 20px;
	width: 70px; 
	text-align: center;
}

#savingThrowsBackground{
	background-color: #2EC4B6;
	padding: 5px;
	height: 23.5%;
}

#savingThrows { /*saving throws box sizing*/
	display: block;
	height: 18vh; 
	float: left;
	width: 30%;
	padding: 5px;
	margin: 3px;
	background-color: white;
	border: 2px black solid;
	background-color: #8f9491;
}

#ST-form { /*the form CSS for saving throws for styling later if needed*/
	font-size: 15px;
	color: white;
}

#ST-form input {
	padding: 2px;
}

#ST-form-checkbox {
	margin-left: 10px;
}

#ST-form-spacing {
	margin-top: 2px;
	margin-bottom: 2px;
}

#passiveWisdom{
	background-color: #8f9491;
	padding: 5px;
	height: 10%;
}

/*Middle Column CSS*/
#genericHpBox {
	display: block;
	height: 11vh; 
	float: center;
	width: 100%;
	margin: -2px;
	margin-bottom: 8px;
	background-color: white;
	border: 2px black solid;
}
.shortenAndCenter{
		width: 92.5%;
		margin-left: .5%;
		margin-right: .5%;
		text-align: center;
}
.shortenAndCenter2{
		width: 88%;
		margin-left: .5%;
		margin-right: .5%;
		text-align: center;
}

.halvesBoxes{
	display: block;
	padding: 1%;
	margin: .5%;
	float: left;
	width: 47%;
	box-sizing: content-box;
}

#stats2{
	background-color: #2EC4B6;
	padding: 5px;
}
.imgTextOverlay {
    position: relative;
    text-align: center;
}
/*Auto margins idea from https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element*/
.imgTextBot{
    position: absolute;
    top: 66%;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.imgTextBot2{
	position: absolute;
    top: 80%;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
input[type=sheildTextBox] {
    background-color: #c1b8b8;
	font-size: 25px;
	position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	left: 34px;
	right: 0;
}
input[type=speedBox] {
	font-size: 25px;
	position: absolute;
	top: 20%;
	margin-left: auto;
	margin-right: auto;
	left: 34px;
	right: 0;
}
/*End of Middle Colum CSS*/