/* Clear out some hot garbage. A mini 'reset.css'
If we want to do a true reset, we should include an actual resetting file...
For example, we might want to change the 8px margin on 'body' elements.*/
.rollbox textarea {
	padding:0px;
} 

/* Dice roller specifications:
Two forms. Open & Closed.

Open: Variable width, 60px height.;
Closed: 60px width, 60px height;
*/



/* DICEROLLER.CSS */

/*//////////////////////////////////*/
/*Entire Container.*/
/*//////////////////////////////////*/

#diceroller {
	margin-bottom:10px;

	/*dice roller will scroll with page.*/
	position:fixed; 
	right: 0;
	top: 0;
	width: 60px;

	/*position highest*/
	z-index: 10;

}

/*//////////////////////////////////*/
/*Visibly transforming container.*/
/*//////////////////////////////////*/

.rollbox {
	position: absolute;
	float:right;
	background-color: #cbf3f0;
	width: auto;

	/*ensure edges are ok*/
	/*padding-left: 3px;*/
	/*padding-right: 3px;*/

	overflow: hidden;
}

/*Special collapse rules.
This is 'closed' form.
All non-logo elements are not displayed.*/

.rollboxCompact {
	width: 60px;
}

.rollboxCompact .diceRollerElem {
	display: none;
}

/*This rule wins because ids are more specific.*/
.rollboxCompact #dicelogo {
	display: inline-block;
}


/*//////////////////////////////////*/
/*Singular elements.*/
/*//////////////////////////////////*/


/*Every element.*/
.diceRollerElem {
	/*Flow.*/
	height:50px;
	width:50px;
	display:inline-block;

	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	line-height: 50px;

	/*Create spacing.*/
	margin-top:5px;
	margin-bottom:5px;
}

/*Internal inputs, text areas, submit button, dropdowns, etc.*/
.diceRollerElem textarea, .diceRollerElem input, .diceRollerElem select {
	line-height:48px;
	height: 50px;
	width: 50px;

	/*textarea safety*/
	min-height: 50px;
	max-height: 50px;
	min-width: 50px;
	max-width: 50px;

	/*does not inherit from div*/
	text-align: center;
	font-size: 20px;

	box-sizing: border-box;
	/*You can change the default borders.*/
}

/*JS positioning hack.*/
.diceRollerElem:first-child {
	margin-left: 3px;
}


/*Special input box rules*/
.diceRollerElem input[type=number]::-webkit-inner-spin-button,
.diceRollerElem input[type=number]::-webkit-outer-spin-button {
	/*get rid of the arrows on number inputs
	This centers text properly.
	Chrome only. Edge doesn't have by default.*/
	-webkit-appearance: none;
	margin:0;
}

/*Special submit box rule.*/
#rollSubmit {
	font-size: 18px;
	cursor: default;
	border:1px solid black;
	background-color:#8f9491;
	box-sizing: border-box;

	/*Special anti-shift rule*/
	/*float: right;*/
}

/*clickable dice logo*/
#dicelogo {
	/*displays the dice icon*/
	background-image:url("/img/dicelogo.png");
	background-size:50px 50px;
	background-repeat: no-repeat;

	margin-right: 5px;
	margin-left: 5px;

	cursor:default;

}

#dicelogo.rollCompleted {
	/*more specificity wins!*/
	background-image:url("/img/dicelogo_hollow.png");
}

#dicelogo.largeRoll {
	font-size: 15px;
}


/*ANTI STUPID.CSS CODE*/

#diceroller {
	font-family: "Times New Roman";
}

#diceroller select {
	-webkit-appearance: menulist;
	padding: 0px;
	margin: 0px;
	border:1px solid rgb(169, 169, 169);
	background-color: white;
}

#diceroller input, #diceroller textarea {
	border: 1px solid rgb(169, 169, 169);
}

#diceroller input {
	padding: 1px 0px;
}