/* Clear out some hot garbage. A mini 'reset.css'
If we want to do a true reset, we should include an actual resetting file...
For example, we might want to change the 8px margin on 'body' elements.*/
textarea {
	padding:0px;
} 


/* DICEROLLER.CSS */
/*This is a global var. New in CSS. Not supported in IE, Opera, or Android Browser.*/
:root {
	--h: 50px;
	--w: 50px;
}

#diceroll {
	margin-bottom:10px;
	/*position:absolute;*/
	float:right;
	width:100%;
}

object.dicelogo {
	float:right;
	vertical-align: middle;
	clear:both;
	height:75px;
	width:75px;
	position:relative;
	top:-25px;
	right:-25px;
}

img.dicelogo {
	float:right;
	vertical-align: middle;
	/*clear:both;*/
	height:50px;
	width:50px;
	margin:auto;
	/*padding: 5px 5px;*/
}

#clickdie {
	overflow:hidden;
	border:none;
	float: right;
}

/*
.logotext {
	border-top: 2px dashed black;
	border-left: 2px dashed black;
	font-size:25px;
	vertical-align: middle;
	line-height:74px;
	font-family: 'Cutive Mono', monospace;
	float:left;
	min-width:60%;
	padding-left:5px;
}
*/

.rollbox {
	/*border-left:2px solid black;*/
	float:right;
	background-color:rgba(255,0,0,.2);
	/*height: 74px;
	max-height: 74px;*/
	margin:auto;
	/*max-width:40%;*/
	width:auto;
	/*padding:0px 10px;*/
	overflow:hidden;
}

.rollsmall {
	height:62px;
	width:60px;
	border:3px solid black;

}

.rollbig {
	height:62px;
	max-height: 62px;
	/*max-width: 40%;*/
	border-left:2px solid black;
	border-top:3px solid transparent;
	border-right:3px solid transparent;
}

.rollbox ul {
	float:right;
	text-align: right;
	list-style-type: none;
	margin: 0 5px 0 0;
	padding: 0;
	overflow: hidden;
}

.rollbox li {
	float:left;
	vertical-align: middle;
	height:50px;
	width:50px;
	margin:5px 0px 17px 13px;
	border:1px solid black;
	display:inline-block;
}

.rollbox textarea, input, select {
	line-height:48px; /*var(--h)-2*, can't do that math in css properties though.*/
	height:var(--h);
	min-height: var(--h);
	max-height: var(--h);
	width:var(--w);
	min-width: var(--w);
	max-width: var(--w);
	/*padding:8px 0px 8px 0px;*/
}

.rollbox textarea, select {
	font-size:25px;
}

.rollbox textarea {
	box-sizing: border-box;
}

.rollbox input {
	font-size:18px;
}

#resultdice {

}

li.simpletext {
	padding:0;
	font-size:25px;
	text-align: center;
	line-height: 50px;
}